body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("/images/day2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 150ms ease-in-out;
  background-color: aqua;
  font-family: "Montserrat", sans-serif;
}
.social-links {
margin-top:25px;
}
.social-links a{
  color:indigo;
padding:10px 2px;
font-size: 26px;
border-radius: 25px;
transition: all 100ms ease-in-out;

}
.social-links a:hover{
  transform:scale(2);
  color:#f7c133;
}
.dark .social-links a:hover{
  color:indigo;
}
.star-wars-logo {
  margin-top: 25px;
}
.logo-img {
  height: 40px;
}
.logo-img:hover {
  cursor: pointer;
}
.loading {
  color: indigo;
  display: block;
  text-align: center;
}
.container {
  margin: 30px auto;
  display: block;
}
.nav-link:hover {
  color: #f7c133;
}

/* results */
.results {
  margin: 0 auto;
  padding: 30px;
}
.results h1 {
  color: indigo;
  text-transform: capitalize;
}

.card {
  border-radius: 30px;
  transition: 150ms all ease-in-out;
}
.card:hover {
  background: #f7c133;
  transform:scale(1.1);
}

.card-title {
  margin-bottom: 0;
}

/* toggle button for cjange day-night theme */
.day-night-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.toggle-text {
  padding-bottom: 7px;
  font-size: 18px;
  color: indigo;
}

.toggle-btn {
  height: 30px;
  width: 50px;
  background-color: indigo;
  border-radius: 30px;
  padding: 5px;
  margin: 0 10px;
}

.inner-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ecfdf5;
  transition: all 250ms ease-in-out;
}
.toggle-btn.toggled > .inner-circle {
  transform: translateX(20px);
  background-color: grey;
}

.unselected {
  opacity: 0.25;
}
/* dark theme */
body.dark {
  background-image: url("/images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 150ms ease-in-out;
  background-color: indigo;
  color: white;
}
/* footer */
footer {
  margin: 100px auto;
  color: indigo;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

footer a {
  text-decoration: none;
  color: indigo;
  transition: all 200ms ease-in-out;
}
footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dark footer {
  color: #ecfdf5;
  background: none;
}
.dark footer a {
  color: violet;
}
.dark .results h1 {
  color: #ecfdf5;
}
.dark .loading{
  color:#ecfdf5;
}
#cardElement:hover {
  cursor: pointer;
}
.dark .social-links a{
color:#f7c133;
}
.dark .toggle-btn{
  background-color:#f7c133;

}
.dark .toggle-text{
  color:#f7c133;
}
.dark .toggle-btn.toggled > .inner-circle{
  background-color:#313131;
}
/* rotating animation for header icons */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 10s linear infinite;
}

